<main class="main">
    <aside class="sidebar">
    <nav class="nav">
        <ul class="active">
            <li class="">
                <a href="#"> Prueba 1</a>
            </li>
            <li>
                <a href="#">Prueba 2</a>
            </li>
            <li>
                <a href="#">Prueba 3</a>
            </li>
            <li>
                <a href="#">Prueba 4</a>
            </li>
            <li>
                <a href="#">Prueba 5</a>
            </li>
        </ul>
    </nav>
</aside>
</main>